{% extends "wrapper.html" %}

{% block nav %}
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div style="vertical-align:middle" class="container">
            <div  id="logo_title" class="navbar-header">
                <a class="page-scroll" href="#page-top">
                    <img id="logo" src="/static/image/kirogazcor_inv.png" width="60px">
                    <span id="title">kirogazcor</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li>
                        <a class="page-scroll" href="../">На главную</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
{% endblock %}
{% block header %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" style="margin: 50px auto 0;">Опыт работы</h1>
                        <br>
                        <a href="#work" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    <section id="work" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                {% for work in work_db %}
                <ul class="about-list">
                    <li><h2>{{ work.organization }}</h2></li>
                    <li><span>Должность:</span> {{ work.post }}</li>
                    <li><span>Период:</span> {{ work.start }} - {% if work.end != Now %}{{ work.end }}{% else %}настоящее время{% endif %}</li>
                    <li style="text-align: left"><span>Основные обязанности:</span><br>{{ work.duties|safe }}</li>
                </ul><hr><br>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}